user-config.py
secretPasswords

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Pywikibot files
apicache/
logs/
*.ctrl
*.lwp

# Data files (exception may occur)
*.xls
*.xsd
*.xml

# various
*.log
.tox/
.coverage
*.pdf
